/**
 * Base
 */

// global border-box setting

@mixin bbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
html {
  @include bbox;  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: $html-font-size;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0; 
  padding: 0; 
  color: $base-color;
  background-color: $base-background-color;
  font-family: $base-font-family;
  font-size: 100%; 
  line-height: $base-line-height;
  font-weight: normal;
  font-weight: $font-weight-normal;
  text-align: center;
}
