/**
 * Center / Middle aligned content box
 */

// the holder

.cmbox {
  width: 100%;
  display: table;
  text-align: center;
  background-color: $cmbox-default-background;
  padding: $cmbox-default-padding;
  margin: $cmbox-default-margin;
}

// the content

.cmbox__content {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
